<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% extends "AppCiberseguridad/padre.html" %}

    {% block contenidoQueCambia %}
    <h1>Crear Nueva Opinión</h1>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>
    
    <a href="{% url 'List' %}">Volver a la lista</a>
    {% endblock %}
</body>

</html>