<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% extends "appciberseguridad/padre.html" %}

{% block contenidoQueCambia %}
<h1>Confirmar Eliminación</h1>

<p>¿Estás seguro de que quieres eliminar esta opinión?</p>

<form method="post">
    {% csrf_token %}
    <button type="submit">Confirmar</button>
</form>

<a href="{% url 'List' %}">Cancelar</a>
{% endblock %}
</body>

</html>