<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "appciberseguridad/padre.html" %}  
     
    {% load static %}
    
    {% block contenidoQueCambia %}
    
    <h1> Este es el formulario para los Opiniones </h1>
    
    <form action="{% url 'AppFormOpiniones' %}" method="POST">
        {% csrf_token %}
        <p>Nombre: <input type="text" name="nombre" required></p>
        <p>Descripcion: <input type="text" name="descripcion" required></p>
        
        <input type="submit" value="Enviar">
    </form>
    {% endblock %}
</body>
</html>