<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
{% extends "AppCiberseguridad/padre.html" %}  
     
{% load static %}

{% block contenidoQueCambia %}

<!-- Projects-->
<br>

</br>

<h1 style="text-align: center; font-family: Arial, sans-serif; color: #2c3e50; margin-top: 20px;">
    ¡Esos son algunos de los cursos que tenemos en este momento!
</h1>
<section class="projects-section bg-light" id="projects">
    <div class="container px-4 px-lg-5">
        <!-- Featured Project Row-->
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="{% static 'appciberseguridad/assets/img/inicial.jpg' %}" alt="..." /></div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>Curso de Ciberseguridad - Nivel Inicial</h4>
                    <p class="text-black-50 mb-0">Este curso está diseñado para aquellos que están dando sus primeros pasos en el mundo de la ciberseguridad. A lo largo de este nivel, aprenderás los fundamentos de la ciberseguridad, incluyendo conceptos básicos de redes, identificación de amenazas comunes, y el uso de herramientas de seguridad esenciales. Al finalizar, estarás preparado para proteger tus dispositivos y datos personales contra las amenazas más comunes en el entorno digital.

                    </p>
                </div>
            </div>
        </div>
        <!-- Project One Row-->
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="{% static 'appciberseguridad/assets/img/final.jpg' %}" alt="..." /></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Curso de Ciberseguridad - Nivel Medio</h4>
                            <p class="mb-0 text-white-50">Este curso intermedio es ideal para aquellos que ya tienen un conocimiento básico de ciberseguridad y desean profundizar en técnicas y herramientas más avanzadas. Aquí, explorarás temas como la gestión de vulnerabilidades, la criptografía aplicada, y la implementación de políticas de seguridad en entornos empresariales. Además, se cubrirán técnicas de análisis de incidentes y respuesta ante ciberataques.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Two Row-->
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="{% static 'appciberseguridad/assets/img/medial.jpg' %}"alt="..." /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Curso de Ciberseguridad - Nivel Avanzado</h4>
                            <p class="mb-0 text-white-50">Este curso avanzado está dirigido a profesionales de ciberseguridad que buscan perfeccionar sus habilidades y adquirir conocimientos especializados. Se enfocará en la defensa proactiva contra ciberamenazas, análisis forense digital, y la seguridad en entornos de nube. Al concluir este nivel, estarás capacitado para liderar la seguridad informática en cualquier organización, implementando estrategias robustas para prevenir, detectar y mitigar ciberataques sofisticados.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}


</body>
</html>