<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Resultados de la Búsqueda para "{{ cliente_nombre }}"</h1>
    
    {% if resultados %}
        <ul>
            {% for cliente in resultados %}
                <li>Nombre: {{ cliente.nombre }}, Correo: {{ cliente.correo_electronico }}, Teléfono: {{ cliente.telefono }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron clientes con ese nombre.</p>
    {% endif %}

    <a href="{% url 'BusquedaCliente' %}">Volver a la búsqueda</a>
</body>
</html>